---
layout: default.hbs
title: Gallery
categories:
path:
body_id:
body_class: page-gallery
---

<ul class="list-thumb">
  <li>
    <span class="list-thumb-num">6</span>
    <a href="">
      <img src="{{assets}}/img/thumb-06.jpg" alt="">
      <div class="list-thumb-caption">
        <div class="list-thumb-caption-wrapper">
          <strong class="list-thumb-ttl">Bee-eater</strong>
          <small class="list-thumb-year">2007</small>
        </div>
      </div>
    </a>
  </li>
  <li>
    <span class="list-thumb-num">5</span>
    <a href="">
      <img src="{{assets}}/img/thumb-05.jpg" alt="">
      <div class="list-thumb-caption">
        <div class="list-thumb-caption-wrapper">
          <strong class="list-thumb-ttl">Bee-eater</strong>
          <small class="list-thumb-year">2007</small>
        </div>
      </div>
    </a>
  </li>
  <li>
    <span class="list-thumb-num">4</span>
    <a href="">
      <img src="{{assets}}/img/thumb-04.jpg" alt="">
      <div class="list-thumb-caption">
        <div class="list-thumb-caption-wrapper">
          <strong class="list-thumb-ttl">Bee-eater</strong>
          <small class="list-thumb-year">2007</small>
        </div>
      </div>
    </a>
  </li>
  <li>
    <span class="list-thumb-num">3</span>
    <a href="">
      <img src="{{assets}}/img/thumb-03.jpg" alt="">
      <div class="list-thumb-caption">
        <div class="list-thumb-caption-wrapper">
          <strong class="list-thumb-ttl">Bee-eater</strong>
          <small class="list-thumb-year">2007</small>
        </div>
      </div>
    </a>
  </li>
  <li>
    <span class="list-thumb-num">2</span>
    <a href="">
      <img src="{{assets}}/img/thumb-02.jpg" alt="">
      <div class="list-thumb-caption">
        <div class="list-thumb-caption-wrapper">
          <strong class="list-thumb-ttl">Bee-eater</strong>
          <small class="list-thumb-year">2007</small>
        </div>
      </div>
    </a>
  </li>
  <li>
    <span class="list-thumb-num">1</span>
    <a href="">
      <img src="{{assets}}/img/thumb-01.jpg" alt="">
      <div class="list-thumb-caption">
        <div class="list-thumb-caption-wrapper">
          <strong class="list-thumb-ttl">Bee-eater</strong>
          <small class="list-thumb-year">2007</small>
        </div>
      </div>
    </a>
  </li>
</ul>